.aider*
__pycache__
order2024.xlsx
build
dist
cbc-2.10.12-windows-2022-msvs-v17-x64
cache
utils
cleaning_old
cutting_results*
*.spec
*.db
.env
.crush
.zed
# cuttingstock.log
logs/cuttingstock.log
test_cutting_results.csv
test_cutting_results.xlsx
.claude/settings.local.json
plots
stock.csv
